@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2em;}
h3{ font-size: 1.5em;}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(245,245,245);
    background-attachment: fixed;
}

/*Header*/

header img {
    margin: 0;
    width: 35%;
    height: 35%;
    padding: 1% 1%;
}

header {
    margin: 0;
    padding: 5px 10px;
    background-color: #770D39;
    
}

header .arriba{
    display: flex;
    flex-direction: column ;
    text-align: center;
}

header nav {
    display: flex;
    /*flex-direction: column; */   
}
header a{
    padding: 5px 12px;
    color: white;
    font-weight: bold;

}

nav ul {
    list-style: none;
    overflow: hidden;
    font-size: 1.5em;
}

nav ul li {
    float: right;
    font-size: 20px;
    margin-top: 3%;
}

nav ul li a {
    display: block;
    padding: 7px;
    text-decoration: none;
}

nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.078);
    border-radius: 15px;
}

/*Productos*/

button{
    font-size: 1em;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 40px;
    border: none;
    background-color: antiquewhite;
    box-shadow: 10px 10px 10px rgb(0,0,0,0,5);
}
button:hover{
    background-color: gray;
}

.alcoholicas{
    max-width: 1200px;
    margin: auto;
}
.titulo{
    text-align: center;
}