@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2em;}
h3{ font-size: 1.5em;}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.623), rgb(0, 0, 0)), url("../Imagenes/fondoFormulario.jpg");
    background-repeat: repeat-x;
    background-attachment: fixed;
}

/*Header*/

header img {
    margin: 0;
    width: 20%;
    height: 20%;
    padding: 1% 1%;
}

header {
    margin: 0;
    padding: 5px 10px;
    background-color: #770D39;
    justify-content: space-between;
}

nav {
    float: right;
    padding-right: 1%;
}
/*header .arriba{
    display: flex;
    flex-direction: column ;
    text-align: center;
}*/

/*header nav {
    display: flex;
    flex-direction: column;    
}*/

header a{
    padding: 5px 12px;
    color: white;
    font-weight: bold;

}

nav ul {
    list-style: none;
    overflow: hidden;
    font-size: 1.5em;
}

nav ul li {
    float: left;
    font-size: 20px;
    margin-top: 3%;
}

nav ul li a {
    display: block;
    padding: 7px;
    text-decoration: none;
}

nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.078);
    border-radius: 15px;
}

/*Productos*/

button{
    font-size: 1em;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 40px;
    border: none;
    background-color: antiquewhite;
    box-shadow: 10px 10px 10px rgb(0,0,0,0,5);
}
button:hover{
    background-color: gray;
}

#pro-alcohol div{
    width: max-content;
}

.alcoholicas{
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
    display: flex;
}

.titulo{
    text-align: center;
}

.alcoholicas img{
    padding: 20px;
    width: 125px;
    height: 135px;    
}

hr {
    margin: auto;
    border: 5px solid;
    color: #770D39;
}

.footer {
    
   
    height: 310px;
    background-color: rgba(128, 128, 128, 0.452);
    display: flex;
    font-family: 'Inter', sans-serif;
    color: black;
}

.footer-1 {
    width: 25%;
    height: 230px;
    position: relative;
}

.footer-1-text {
    position: absolute;
    top: 20%;
    left: 15%;
}

.footer-1-text h2 {
    font-family: 'Roman SD', sans-serif;
    font-size: 25px;
    padding-bottom: 15px;
}

.footer-1-text p {
    font-size: 20px;
    font-weight: bold;
}

.footer-2 {
    width: 25%;
    height: 230px;
    position: relative;
}

.footer-2-text {
    position: absolute;
    top: 15%;
    left: 15%;
}

.footer-2-text p {
    font-size: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.footer-3 {
    width: 25%;
    height: 230px;
    position: relative;
}

.footer-3-text {
    position: absolute;
    top: 15%;
    left: 15%;
}

.footer-3-text p {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}

.footer-4 {
    width: 25%;
    height: 230px;
    position: relative;
}

.footer-4-text {
    position: absolute;
    top: 15%;
    left: 15%;
}

.footer-4-text p {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}